/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    margin: 0;
}


.contain {
    padding: 15px;
}

.title {
  border-bottom: 2px #1459bf  solid;
}

.mat-grid-tile .mat-figure {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  height: 100%;
  padding: 0;
  margin: 0;
}
.color {
  color: red;
}
.deleteBtn{
  color:#ff2a23;
}
.blue-snackbar {
  background: #2196F3;
}
.green-snackbar {
  background: #1DE9B6;
}
.red-snackbar {
  background: #B00020;
}
